* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  max-width: 100%;
}

h1 {
  margin-top: 1%;
  margin-left: 55vh;
}
.table-container {
  display: flex;
  margin-top: 1%;
  justify-content: center;
}
table {
  table-layout: fixed;
}
th {
  font-size: 18px;
  background-color: rgb(241, 241, 241);
  border-radius: 7px;
}

tr {
  background: linear-gradient(rgba(235, 235, 235, 0.534), #fff);
  padding: 5px;
}

td {
  border: 1px solid rgba(129, 129, 129, 0.116);
  border-radius: 7px;
  text-align: center;
}
.td-title {
  width: 180px;
}
.books-actions {
  margin-right: 100px;
}
.table-container i {
  margin: 0 12px;
  color: lightgray;
}

.left { 
  float: left;
}
.right { 
  float:right;
}
.hidden {
  opacity: 0;
  right: 0;
}

.update-modal {
  transition: all 0.5s;
  border-radius: 10px;
  background: linear-gradient(rgb(235, 235, 235), #fff);
  height: 100px;
  width: 225px;
  z-index: 5;
  position: absolute;
  margin-bottom: 25px;
  border: 2px lightgray solid;
}

.update-modal-exit { 
  color: lightgray;
  cursor: pointer;

}

.btn-update-modal { 
  height: 25px;
  font-size: 14px;
color: white;
border-radius: 10px;}
.nav-btns {
  margin: auto;
  width: 45%;
  height: 40px;

}
.navigation-btns {
  width: 120px;
  height: 35px;
  cursor: pointer;

}
.nav-num { 
  font-size: 12px;
  height: 15px;
  width: 25px;
  background-color: rgb(241, 241, 241);
  border-radius: 7px;
  cursor: pointer;
}